.logo{
 display: flex;
 align-items: center;
color: white;
font-size: 18px; /*tamanho da fonte do texto*/
font-weight: bold; /*texto em negrito*/

}
.logo img{ /*dimensões da imagem*/
    width:80px; /*tamanho*/
    margin-right: 10px; /*margens*/
}

/*CONFIGURAÇÃO DA BARRA DE PESQUISA*/

.search-box{
    flex: 1;
max-width: 600px; /*largura máxima*/
margin: 0 20px;
position: relative; /*posição*/


}

.search-box input{ /*configuração da parte de dentro*/
width: 100%; /*preencher toda área*/
padding: 10px 40px 10px 15px; /*defindo o espaço cima,direita,baixo,esquerda*/
border:none ; /*borda da caixa*/
border-radius: 20px; /*expressura da borda*/
font-size: 16px; /*tamanho da fonte do texto*/

}

/*CONFIGURANDO OS ICONES DO MENU SUPERIOR*/

.ICONS{
    display: flex; /*os icones ficam flexiveis a mudança da tela*/
    gap: 15px; /*espaço entre os icones*/
    align-items: center; /*centralizar os itens no meio do menu*/

}

.ICONSimg{ /*configurando as imagens dos icones*/
    width:32px;
    height: 32px;
    cursor: pointer;

}